// Run with:
// stylus -u rupture -u nib -c hailton.styl -o cssclub.min.css

@import 'cssclub/cssclub'

body
  background: rgb(51, 51, 51)
  &.bg-img
    background url('/images/lines.png'), linear-gradient(30deg,#2276ad,#6ec654) fixed

.site-nav
  margin-bottom 1rem
  > .column
    background: rgba(0, 0, 0, 0.23);
    border-radius: 5rem;
    padding: .3rem;
    margin-top 2.5rem
    a
      text-decoration: none;
      margin: 0 .4rem

.cover .cover-body
  padding: 4rem 0;
  +to-width(tablet-size)
    padding: 1.5rem 0;
.c-cover
  background transparent !important
  h1
    @extends h1
    font-size 9vw
    +to-width(mobile-size)
      font-size: 50px;
  h2
    @extends h2
    font-size 5vw
    +to-width(mobile-size)
      font-size: 30px;

.c-button
  padding: 2.8rem 7rem;
  color: #1f1f1f !important;
  background linear-gradient(0deg,#cecece,#ffffff)
  border-radius: 100px;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2rem;
  margin-top: 3rem;
  box-shadow: 0 6px 6px 0 rgba(black, 0.12), 0 10px 20px 0 rgba(black, 0.1)
  +to-width(mobile-size)
    padding: 1.2rem 3rem;
    font-size: 1.4rem;
    line-height: 1.5rem;

.c-img
  cursor: pointer
  &:hover
    transform: scaleX(1.3) scaleY(1.3)
    transition: all 0.4s linear
    opacity: 0;

.big-p
  font-weight: lighter;
  font-size size-h3
  width: calc(100%*(8/12))
  margin: 2rem auto
  line-height: 2.5rem;
  
.c-post
  border-radius: .3rem;
  #wrapped
    p
      @extends .big-p
      margin: 4rem auto
    img
      margin: 0 auto;
      display: block;
  .proj-status
    margin-top 1rem

// Portefolio page
.portefolio
  .column
    line-height: 0
    padding: 0
    .card
      background rgba(black, .5)
      margin 0 0.5rem 1rem 0.5rem
      border-radius: .3rem;
      img
        border-radius: .3rem;
    .title
      color: white;
      position: absolute;
      text-align: center;
      left: 0;
      right: 0;
      top: 38%;
      font-weight: bold
      line-height: 2rem
    img
      position: relative
  

.bg-grey
  color: white
  background: #e4e4e4 !important
  font-size: 1.5rem;
.c-grey
  color: #e4e4e4 !important
  font-size: 1.5rem;

.proj-name
  font-size: 3rem;
  text-transform: uppercase
  font-weight: lighter
.c-tags
  font-size: .8rem
  margin-top: 1.4rem 
  text-transform uppercase

.c-contact
  border-radius: 0;
  color: white;
  padding: 3.8rem 0;
  font-size: 2.5rem;
  font-weight: lighter;
  text-decoration: none;
  &:hover
    background: green
.c-proj-info
  h3
    margin: .7vw
    padding: .5vw
    background blue
    display: inline-block;
    color white

@keyframes pulse 
  0% 
    transform: scale(1);
  

  50% 
    transform: scale(1.04);
  

  100% 
    transform: scale(1);
  

.pulse
  animation: pulse;
  animation-iteration-count: 1//infinite;
  animation-duration: 3s;


// Forms
// ============================================================
input[type=text], input[type=email], textarea, select
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box
  font-size 1rem
  font-family family-sans

input[type=submit] 
  width: 100%;
  background-color green
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size 1rem
  font-family family-sans


input[type=submit]:hover 
  background-color darken(green, 10%)
