---
layout: default
---

<div class="container">
  <div class="row portefolio">
    {% for post in site.posts %}
      <div class="column s4">
        <div class="card">
          <a class="c-img-w" href="{{ post.url }}">
            <h2 class="title">{{ post.title }}</h2>
            <img id="teaser-img" data-href="{{ post.url }}" class="c-img" src="/images/{{ post.image }}" alt="{{ post.title }}">
          </a>
        </div>        
      </div>
    {% endfor %}
  </div>
</div>

<!--<div class="grid">
  {% for post in site.posts %}
    <div class="column small-4 bg-red c-teaser">
      <a class="c-img-w" href="{{ post.url }}">
        <h2 class="title">{{ post.title }}</h2>
        <img id="teaser-img" data-href="{{ post.url }}" class="c-img" src="/images/{{ post.image }}" alt="{{ post.title }}">
      </a>
    </div>
  {% endfor %}
</div>-->