.tabs-content
  ul.nav.horizontal
    li
      a(href="./components/") Buttons
    li
      a(href="./components/cover") Cover
    li
      a(href="./components/tabs") Tabs
    li
      a(href="./components/modal") Modal