/* css.club v0.1.0
 * Project repository at //github.com/hailtonsilva/cssclub
 * Licenced under MIT
 */
@charset "utf-8";
@charset "nib";
@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
.title,
.title.size-1,
.title.size-2,
.title.size-3,
.title.size-4,
.title.size-5,
.title.size-6 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.red {
  color: #ff4f58;
}
.bg-red,
.cover {
  background: #ff4f58;
  color: #fff;
}
.blue {
  color: #4fc1e9;
}
.bg-blue {
  background: #4fc1e9;
  color: #fff;
}
.green {
  color: #48cfad;
}
.bg-green,
.cover.green {
  background: #48cfad;
  color: #fff;
}
.orange {
  color: #fc6e51;
}
.bg-orange {
  background: #fc6e51;
  color: #fff;
}
.black {
  color: #1d1d1d;
}
.bg-black {
  background: #1d1d1d;
  color: #fff;
}
.white,
.tabs > * > * > *,
.tabs > ul > * > * {
  color: #fff;
}
.bg-white {
  background: #fff;
  color: #fff;
}
.yellow {
  color: #ffeb3b;
}
.bg-yellow {
  background: #ffeb3b;
  color: #fff;
}
.bg-white,
.bg-yellow {
  color: #1d1d1d !important;
}
.bold {
  font-weight: 600;
}
.spaced {
  padding: 2.9rem 0;
}
body {
  font-family: "Open Sans", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 0.95rem;
}
img {
  max-width: 100%;
}
p {
  margin-bottom: 1rem;
}
strong,
b {
  font-weight: 600;
}
small {
  font-size: 0.8rem;
}
hr {
  background-color: #e0e0e0;
  border: none;
  display: block;
  height: 0.07rem;
  margin: 1.4rem 0;
}
pre code,
code {
  background: #eee;
  padding: 0 0.3rem;
  font-family: "Inconsolata", "Consolas", "Monaco", monospace;
}
.container {
  width: calc(100% - 10%);
  margin: 0 auto;
}
.container.spaced {
  padding: 2rem 0;
}
.grid,
.row {
  display: flex;
  flex-wrap: wrap;
}
.grid.bordered > .column,
.row.bordered > .column {
  border: 2px solid #fff;
}
.grid.top,
.row.top {
  align-items: flex-start;
}
.grid.h-center,
.row.h-center {
  align-items: center;
}
.grid.bottom,
.row.bottom {
  align-items: flex-end;
}
.grid.stretch,
.row.stretch {
  align-items: stretch;
}
.grid.baseline,
.row.baseline {
  align-items: baseline;
}
.grid.left,
.row.left {
  justify-content: flex-start;
}
.grid.center,
.row.center {
  justify-content: center;
}
.grid.right,
.row.right {
  justify-content: flex-end;
}
.grid.between,
.row.between {
  justify-content: space-between;
}
.grid.around,
.row.around {
  justify-content: space-around;
}
.column {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  flex-shrink: 0;
  position: relative;
}
.column.spaced {
  padding: 1rem 0;
}
.column.fill {
  width: 0;
  min-width: 0;
  flex-grow: 1;
}
.column.x-small-1 {
  width: 8.333333333333332%;
}
.column.small-1 {
  width: 8.333333333333332%;
}
@media only screen and (max-width: 600px) {
  .column.small-1 {
    width: 100%;
  }
}
.column.medium-1 {
  width: 8.333333333333332%;
}
@media only screen and (max-width: 992px) {
  .column.medium-1 {
    width: 100%;
  }
}
.column.large-1 {
  width: 8.333333333333332%;
}
@media only screen and (max-width: 1300px) {
  .column.large-1 {
    width: 100%;
  }
}
.column.x-small-2 {
  width: 16.666666666666664%;
}
.column.small-2 {
  width: 16.666666666666664%;
}
@media only screen and (max-width: 600px) {
  .column.small-2 {
    width: 100%;
  }
}
.column.medium-2 {
  width: 16.666666666666664%;
}
@media only screen and (max-width: 992px) {
  .column.medium-2 {
    width: 100%;
  }
}
.column.large-2 {
  width: 16.666666666666664%;
}
@media only screen and (max-width: 1300px) {
  .column.large-2 {
    width: 100%;
  }
}
.column.x-small-3 {
  width: 25%;
}
.column.small-3 {
  width: 25%;
}
@media only screen and (max-width: 600px) {
  .column.small-3 {
    width: 100%;
  }
}
.column.medium-3 {
  width: 25%;
}
@media only screen and (max-width: 992px) {
  .column.medium-3 {
    width: 100%;
  }
}
.column.large-3 {
  width: 25%;
}
@media only screen and (max-width: 1300px) {
  .column.large-3 {
    width: 100%;
  }
}
.column.x-small-4 {
  width: 33.33333333333333%;
}
.column.small-4 {
  width: 33.33333333333333%;
}
@media only screen and (max-width: 600px) {
  .column.small-4 {
    width: 100%;
  }
}
.column.medium-4 {
  width: 33.33333333333333%;
}
@media only screen and (max-width: 992px) {
  .column.medium-4 {
    width: 100%;
  }
}
.column.large-4 {
  width: 33.33333333333333%;
}
@media only screen and (max-width: 1300px) {
  .column.large-4 {
    width: 100%;
  }
}
.column.x-small-5 {
  width: 41.66666666666667%;
}
.column.small-5 {
  width: 41.66666666666667%;
}
@media only screen and (max-width: 600px) {
  .column.small-5 {
    width: 100%;
  }
}
.column.medium-5 {
  width: 41.66666666666667%;
}
@media only screen and (max-width: 992px) {
  .column.medium-5 {
    width: 100%;
  }
}
.column.large-5 {
  width: 41.66666666666667%;
}
@media only screen and (max-width: 1300px) {
  .column.large-5 {
    width: 100%;
  }
}
.column.x-small-6 {
  width: 50%;
}
.column.small-6 {
  width: 50%;
}
@media only screen and (max-width: 600px) {
  .column.small-6 {
    width: 100%;
  }
}
.column.medium-6 {
  width: 50%;
}
@media only screen and (max-width: 992px) {
  .column.medium-6 {
    width: 100%;
  }
}
.column.large-6 {
  width: 50%;
}
@media only screen and (max-width: 1300px) {
  .column.large-6 {
    width: 100%;
  }
}
.column.x-small-7 {
  width: 58.333333333333336%;
}
.column.small-7 {
  width: 58.333333333333336%;
}
@media only screen and (max-width: 600px) {
  .column.small-7 {
    width: 100%;
  }
}
.column.medium-7 {
  width: 58.333333333333336%;
}
@media only screen and (max-width: 992px) {
  .column.medium-7 {
    width: 100%;
  }
}
.column.large-7 {
  width: 58.333333333333336%;
}
@media only screen and (max-width: 1300px) {
  .column.large-7 {
    width: 100%;
  }
}
.column.x-small-8 {
  width: 66.66666666666666%;
}
.column.small-8 {
  width: 66.66666666666666%;
}
@media only screen and (max-width: 600px) {
  .column.small-8 {
    width: 100%;
  }
}
.column.medium-8 {
  width: 66.66666666666666%;
}
@media only screen and (max-width: 992px) {
  .column.medium-8 {
    width: 100%;
  }
}
.column.large-8 {
  width: 66.66666666666666%;
}
@media only screen and (max-width: 1300px) {
  .column.large-8 {
    width: 100%;
  }
}
.column.x-small-9 {
  width: 75%;
}
.column.small-9 {
  width: 75%;
}
@media only screen and (max-width: 600px) {
  .column.small-9 {
    width: 100%;
  }
}
.column.medium-9 {
  width: 75%;
}
@media only screen and (max-width: 992px) {
  .column.medium-9 {
    width: 100%;
  }
}
.column.large-9 {
  width: 75%;
}
@media only screen and (max-width: 1300px) {
  .column.large-9 {
    width: 100%;
  }
}
.column.x-small-10 {
  width: 83.33333333333334%;
}
.column.small-10 {
  width: 83.33333333333334%;
}
@media only screen and (max-width: 600px) {
  .column.small-10 {
    width: 100%;
  }
}
.column.medium-10 {
  width: 83.33333333333334%;
}
@media only screen and (max-width: 992px) {
  .column.medium-10 {
    width: 100%;
  }
}
.column.large-10 {
  width: 83.33333333333334%;
}
@media only screen and (max-width: 1300px) {
  .column.large-10 {
    width: 100%;
  }
}
.column.x-small-11 {
  width: 91.66666666666666%;
}
.column.small-11 {
  width: 91.66666666666666%;
}
@media only screen and (max-width: 600px) {
  .column.small-11 {
    width: 100%;
  }
}
.column.medium-11 {
  width: 91.66666666666666%;
}
@media only screen and (max-width: 992px) {
  .column.medium-11 {
    width: 100%;
  }
}
.column.large-11 {
  width: 91.66666666666666%;
}
@media only screen and (max-width: 1300px) {
  .column.large-11 {
    width: 100%;
  }
}
.column.x-small-12 {
  width: 100%;
}
.column.small-12 {
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .column.small-12 {
    width: 100%;
  }
}
.column.medium-12 {
  width: 100%;
}
@media only screen and (max-width: 992px) {
  .column.medium-12 {
    width: 100%;
  }
}
.column.large-12 {
  width: 100%;
}
@media only screen and (max-width: 1300px) {
  .column.large-12 {
    width: 100%;
  }
}
h1,
.title.size-1 {
  font-size: 48px;
  font-weight: 300;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 992px) {
  h1,
  .title.size-1 {
    font-size: 40px;
  }
}
h2,
.title.size-2 {
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 992px) {
  h2,
  .title.size-2 {
    font-size: 33.333333333333336px;
  }
}
h3,
.title,
.title.size-3 {
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 992px) {
  h3,
  .title,
  .title.size-3 {
    font-size: 23.333333333333336px;
  }
}
h4,
.title.size-4 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 992px) {
  h4,
  .title.size-4 {
    font-size: 20px;
  }
}
h5,
.title.size-5 {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 992px) {
  h5,
  .title.size-5 {
    font-size: 15px;
  }
}
h6,
.title.size-6 {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 992px) {
  h6,
  .title.size-6 {
    font-size: 11.666666666666668px;
  }
}
h1,
h2,
h3,
.title {
  padding: 0;
  padding-top: 1rem;
}
.button,
.primary,
.info,
.success,
.warning,
.danger,
.group [class*="button"] {
  padding: 0 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
  height: 2.3rem;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #dcdcdc;
  background: #f5f5f5;
}
.primary {
  background: #ff4f58;
  color: #fff;
}
.primary:hover,
.primary:focus {
  background: #ff1d28;
}
.primary.outline {
  background: none;
  border: 1px solid #ff4f58;
  color: #ff4f58;
}
.primary.outline:hover,
.primary.outline:focus {
  color: #fff;
  border: 1px solid #ff1d28;
  background: #ff1d28;
}
.info {
  background: #4fc1e9;
  color: #fff;
}
.info:hover,
.info:focus {
  background: #25b2e4;
}
.info.outline {
  background: none;
  border: 1px solid #4fc1e9;
  color: #4fc1e9;
}
.info.outline:hover,
.info.outline:focus {
  color: #fff;
  border: 1px solid #25b2e4;
  background: #25b2e4;
}
.success {
  background: #48cfad;
  color: #fff;
}
.success:hover,
.success:focus {
  background: #31bc99;
}
.success.outline {
  background: none;
  border: 1px solid #48cfad;
  color: #48cfad;
}
.success.outline:hover,
.success.outline:focus {
  color: #fff;
  border: 1px solid #31bc99;
  background: #31bc99;
}
.warning {
  background: #fc6e51;
  color: #fff;
}
.warning:hover,
.warning:focus {
  background: #fb4520;
}
.warning.outline {
  background: none;
  border: 1px solid #fc6e51;
  color: #fc6e51;
}
.warning.outline:hover,
.warning.outline:focus {
  color: #fff;
  border: 1px solid #fb4520;
  background: #fb4520;
}
.danger {
  background: #ff4f58;
  color: #fff;
}
.danger:hover,
.danger:focus {
  background: #ff1d28;
}
.danger.outline {
  background: none;
  border: 1px solid #ff4f58;
  color: #ff4f58;
}
.danger.outline:hover,
.danger.outline:focus {
  color: #fff;
  border: 1px solid #ff1d28;
  background: #ff1d28;
}
.group [class*="button"] {
  margin: 0 0.15rem;
}
.cover {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
}
.cover .text-centered {
  text-align: center;
}
.cover a {
  text-decoration: none;
  color: #fff;
}
.cover .cover-head,
.cover .cover-foot {
  flex-shrink: 0;
}
.cover .cover-body {
  flex-grow: 1;
  flex-shrink: 0;
  padding: 4rem 0;
}
.cover .cover-body .text-centered {
  text-align: center;
}
.cover .cover-foot .tabs a {
  border-radius: 3px 3px 0 0;
}
.modal:before {
  content: "";
  display: none;
  background: rgba(29,29,29,0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.modal:target:before {
  display: block;
}
.modal:target .modal-dialog {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  top: 20%;
}
@media only screen and (max-width: 600px) {
  .modal:target .modal-dialog {
    top: 8%;
  }
}
.modal-dialog {
  background: #fff;
  border: #808080 solid 1px;
  border-radius: 5px;
  position: fixed;
  left: 0;
  right: 0;
  top: -100%;
  z-index: 11;
  -webkit-transform: scaleX(0.5) scaleY(0.5);
  -moz-transform: scaleX(0.5) scaleY(0.5);
  -ms-transform: scaleX(0.5) scaleY(0.5);
  -o-transform: scaleX(0.5) scaleY(0.5);
  transform: scaleX(0.5) scaleY(0.5);
  -webkit-transition: transform 0.2s ease-out, cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: transform 0.2s ease-out, cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: transform 0.2s ease-out, cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: transform 0.2s ease-out, cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.2s ease-out, cubic-bezier(0.23, 1, 0.32, 1);
  width: 900px;
  margin: 0 auto;
}
@media only screen and (max-width: 992px) {
  .modal-dialog {
    width: 600px;
  }
}
@media only screen and (max-width: 600px) {
  .modal-dialog {
    width: 100%;
  }
}
.modal-body {
  padding: 20px;
}
.modal-header,
.modal-footer {
  padding: 10px 20px;
}
.modal-header {
  border-bottom: #eee solid 1px;
}
.modal-header h2 {
  font-size: 20px;
}
.modal-footer {
  border-top: #eee solid 1px;
  text-align: right;
}
#close {
  display: none;
}
.nav,
.horizontal {
  background: #48cfad;
}
.horizontal {
  display: flex;
  line-height: 2.5rem;
  background: #fff;
  color: #1d1d1d;
}
.horizontal > a,
.horizontal > li > a {
  color: #1d1d1d;
  text-decoration: none;
  padding: 10px 12px;
}
.horizontal > a:hover,
.horizontal > li > a:hover {
  color: rgba(29,29,29,0.5);
}
.tabs > *,
.tabs > ul {
  display: flex;
  line-height: 2rem;
}
.tabs > * > * > *,
.tabs > ul > * > * {
  padding: 6px 12px;
  text-decoration: none;
}
.tabs > * > * > *:hover,
.tabs > ul > * > *:hover {
  background: rgba(29,29,29,0.2);
}
.tabs-content {
  background: #fff;
  color: #1d1d1d;
  border-bottom: 1px solid #ddd;
}
.tabs-content a {
  color: #1d1d1d;
}
