@import '../cssclub.styl'

li strong
  list-style:disc inside none;
  display:list-item; 


.bd-example
  padding: .7rem
  border: 2px solid #eee
  margin-top: 1rem;
  position: relative;
  box-shadow 0 5px 0 rgba(0, 0, 0, 0.06), 0 2px 0 rgba(0, 0, 0, 0.08)
  .grid, .row
    > .column, .col
      border 2px solid white
      padding: 1rem 0;
      text-align: center;
      @extends .bg-red
