include ../_subnav/components.jade

h3 Modal

a.button.primary(href='#modal') Modal!
a.button.success(href='#modal-2') Modal 2!

// Modal
#modal.modal(aria-hidden='true')
  .modal-dialog
    .modal-header
      h2 Modal in CSS?
      |       
      a.button(href='#close', aria-hidden='true') &times;
      // CHANGED TO "#close"
    .modal-body
      p One modal example here! :D
    |     
    .modal-footer
      a.button.primary(href='#close') Nice!
      // CHANGED TO "#close"
// /Modal

// Modal
#modal-2.modal(aria-hidden='true')
  .modal-dialog
    .modal-header
      h2 Modal in CSS?
      |       
      a.button(href='#close', aria-hidden='true') &times;
      // CHANGED TO "#close"
    .modal-body
      p One modal example here! :D
    |     
    .modal-footer
      a.button.primary(href='#close') Nice!
      // CHANGED TO "#close"
// /Modal
