<div class="footer spaced text-center white">
  © Copyright 2016 - Hailton Silva
</div>
<!-- Modal-->
<div id="modal" aria-hidden="true" class="modal">
  <div class="modal-dialog">
    <div class="modal-header">
      <h2 class="title center">Contacto</h2>
      <!-- CHANGED TO "#close"-->
    </div>
    <div class="modal-body">
      <form action="https://formspree.io/hailtonsilva1@gmail.com" method="POST">
        <label for="name">Nome:</label>
        <input id="name" type="text" name="name">
        <label for="email">E-mail:</label>
        <input id="email" type="email" name="_replyto">
        <label for="message">Mensagem:</label>
        <textarea id="message" name="message" placeholder="A sua mensagem"></textarea>
        <input type="submit" value="Send">
      </form>
    </div>
    <div class="modal-footer"><a href="#" class="button primary">Fechar</a>
      <!-- CHANGED TO "#close"-->
    </div>
  </div>
</div>
<!-- /Modal-->

<script src="{{ site.url }}/js/jquery.min.js"></script>
<script src="{{ site.url }}/js/scripts.js"></script>