<header>
<!--@nav menu-->
    <nav class="top-bar">
      <section class="top-bar-section">
        <div class="menu-topo">
          <ul>
            <li class="left"><a href="/"><img width="30px" height="30px" title="Homepage" alt="Homepage" src="{{ site.url }}/imagens/home.png"></a></li>
            <li class="left"><a href="/blog"><img width="30px" height="30px" title="Blog" alt="Blog" src="{{ site.url }}/imagens/blog.png"></a></li>
            <li class="left"><a href="/portfolio"><img width="30px" height="30px" title="Portfolio" alt="Portfolio" src="{{ site.url }}/imagens/portfolio.png"></a></li>
            <li class="left"><a href="/about"><img width="30px" height="30px" title="About me" alt="About me" src="{{ site.url }}/imagens/about.png"></a></li>
          </ul>
        </div>
      </section>
    </nav>
</header>
