h3 Headings Typography
h5 With Headings typography you can specify style and sizes for your heading or HTML elements

hr

- for (var x = 1; x <= 6; x++)
  p(class="title size-#{x}")= " This is yours to own. Enjoy." 
    small= " .title size-" + x + " and h"+ x