.cover
	display: flex
	align-items stretch
	flex-direction: column
	justify-content: space-between
	color white
	@extends .bg-red
	&.green
		@extends .bg-green
	.text-centered
			text-align center
	a
		text-decoration none
		color white

	.cover-head,
	.cover-foot
		flex-shrink 0

	.cover-body
		flex-grow 1
		flex-shrink 0
		padding 4rem 0
		.text-centered
			text-align center
		
	.cover-foot
		.tabs a
			border-radius 3px 3px 0 0