.modal
  &:before
    content ""
    display none
    background rgba(black, 0.6)
    position fixed
    top 0
    left 0
    right 0
    bottom 0
    z-index 10
  &:target
    &:before
      display block
    .modal-dialog
      transform translate(0, 0)
      top 20%
      +to-width(mobile-size)
        top 8%

.modal-dialog
  background white
  border grey solid 1px
  border-radius 5px
  position fixed
  left 0
  right 0
  top -100%
  z-index 11
  transform scaleX(0.5) scaleY(0.5) 
  transition transform 0.2s ease-out, cubic-bezier(0.23, 1, 0.32, 1)
  width: 900px
  margin: 0 auto
  +to-width(tablet-size)
    width: 600px
  +to-width(mobile-size)
    width: 100%

.modal-body
  padding 20px

.modal-header,
.modal-footer
  padding 10px 20px

.modal-header
  border-bottom #eee solid 1px
  h2
    font-size 20px

.modal-footer
  border-top #eee solid 1px
  text-align right

#close
  display none