.text-center
	text-align center
.text-right
	text-align right
.text-left
	text-align left

for class, color in colorsHash // @colorsHash from variables
	.{class} // text colors
		color color
	.bg-{class} // background colors
		background color
		color white
.bg-white, .bg-yellow
	color black !important


.bold
	font-weight bold

.spaced
	padding 2.9rem 0

