<header>
<!--@home bock-->
    <!-- Inicio - CircleHover -->
    <div class="home-bloco">
      <div class="home-bloco-inner">
          <ul class="ch-grid">
              <li>
                <div class="ch-item">       
                    <div class="ch-info bounceIn animated">
                      <div class="ch-info-front ch-img-1"></div>
                        <div class="ch-info-back">
                          <h3 id="bold">Hailton Silva</h3>
                          <p>Designer <a href="{{ site.url }}/about" title="More information about me" class="infolink">View More</a></p>
                        </div>  
                      </div>
                  </div>
               </li>
          </ul>
          <div class="hailton-description-block animated fadeInUp animated-delay-one">
              <!-- Fim - CircleHover -->
              <h1 class="text-center">Hailton Silva</h1>
              <p class="text-center">Essentially a Designer with a great passion for<br> the adventure of create new things. <br> Passionate about Design and their different fields, but with a special crush for the web.<br> Contact me, and let's talk.<br></p>
            <div class="text-center" style="margin-top: 18px;">
            <a href="#" data-reveal-id="ModalContact"class="button secondary">Contact me!</a></div>
        </div>
      </div>
     </div>
</header>
