<!DOCTYPE html>
<html>
{% include head.html %}
<body>

  <div class="container spaced c-post bg-white">
    <div class="proj-name text-center">{{ page.title }}</div>
    {% if page.tag %}<div class="c-tags text-center">{{ page.tag }}</div>{% endif %}
    <div class="text-center proj-status">
      {% if page.link %}
        <a href="http://{{ page.link }}" class="green" target="_blank">Visitar Site</a>
        {% else %}
        <div class="text-center">Site Offline</div>
      {% endif %}
    </div>
    
    {{ page.content }}
    
    {% if page.proj-info %}
    <div style="margin: 10vw 0;">
      {% for value in page.proj-info %}
        <div class="grid center c-proj-info">
          <div class="column x-small-6 text-right">
              <h3>{{ value[0] }}</h3>       
          </div>
          <div class="column x-small-6 text-left">
              <h3>{{ value[1] }}</h3>       
          </div>
        </div>    
      {% endfor %}
    </div>
    {% endif %}
  </div>

</body>

</html>