<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="bg-white">



<!--<div id="app" class="container bg-white">
  <div class="row">
    <div class="column s12" v-for="post in posts">
      <h1 class="title" v-text="post.title"></h1>
      <p v-html="post.content"></p>
    </div>
  </div>
</div>-->

<div id="app">
  <h1>Hello App!</h1>
  <p>
    <router-link to="/teste">Go to Foo</router-link>
    <router-link to="/teste/bar">Go to Bar</router-link>
  </p>
  <router-view></router-view>
</div>



    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@2.1.8/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    {% include footer.html %}
  </body>
</html>
