h2.title Grid
h5 The grids take all the power of flexbox
hr

h3.title Medium
p Will stack bellow 992px
.grid.center.bordered
  .column.medium-4.spaced.bg-red  .column.medium-4
  .column.medium-4.spaced.bg-yellow  .column.medium-4
  .column.medium-4.spaced.bg-green  .column.medium-4

h3.title Small
p Will stack bellow 600px
.grid.center.bordered
  .column.small-4.spaced.bg-red  .column
  .column.small-4.spaced.bg-red  .column
  .column.small-4.spaced.bg-green  .column
  .column.small-2.spaced.bg-green  .column
  .column.small-4.spaced.bg-green  .column

h3.title Extra Small
p Will never stack
.grid.center.bordered
  .column.x-small-4.spaced.bg-red  .column.x-small
  .column.x-small-4.spaced.bg-red  .column.x-small
  .column.x-small-4.spaced.bg-green  .column.x-small
  .column.x-small-2.spaced.bg-green  .column.x-small
  .column.x-small-4.spaced.bg-green  .column.x-small

h3.title Mixed
.grid.bordered
  .column.medium-8.spaced.bg-yellow  .column.medium-8
  .column.small-4.spaced.bg-red  .column.small-4
  .column.medium-4.spaced.bg-green  .column.medium-4
  .column.small-8.spaced.bg-blue  .column.small-8
  .column.fill.spaced.bg-red  .column.fill

