@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600"

rupture.scale       = 0           600px                 992px              1300px                   
rupture.scale-names =     'mobile-size'         'tablet-size'      'desktop-size'      'large-desktop-size'


// Colors
text-color = #363636
red = #FF4F58
blue = #4FC1E9
green = #48CFAD
orange = #FC6E51
black = #1d1d1d
white = #fff
yellow = #ffeb3b

primary = red;
info = blue;
success = green;
warning = orange;
danger = red;

// Color Hash pairs
colorsHash = {
  red: red
  blue: blue
  green: green
  orange: orange
  red: red

  black: black
  white: white
  yellow: yellow
}



// Typography
family-sans = sans = "Open Sans", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
lighter = 300
normal 	= 500
bold 		= 600

size-h1 = 48px
size-h2 = 40px
size-h3 = 28px
size-h4 = 24px
size-h5 = 18px
size-h6 = 14px